html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

div a {
  text-decoration: none;
}

/* Button sizes */
.btn {

}

.btn-small {

}

.btn-big {

}

/* Button types */
.primary {

}

.btn-subtle {

}

.btn-ghost {

}

.btn-warning {

}